/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.navbar-brand-right{
    margin : 0 0 0 20px;
}

.card-right{
    margin: 0 0 0 70px;
}

body{
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}

main{
    flex: 1 0 auto;
}

#image{
    display: none;
}

#imagePreview{
    height: 120px;
    width: 120px;
    position:absolute;
    top: 0;
    left: 490px;
}

.pull-left{
    margin-left: 980px !important;
}


.left-and-down{
  margin-top: 10px;
}

.dropdown-content {
    background-color: #FFFFFF;
    margin: 0;
    display: none;
    min-width: 300px; /* Changed this to accomodate content width */
    max-height: auto;
    overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    white-space: nowrap;
    z-index: 0;
    will-change: width, height;
}
.move-left{
    position: absolute;
    left: 240px;
    top: 0;
}

.hide-long-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-shift{
    margin: 70px 0 0 -220px !important;
}

